{% extends "base.html" %}
{% load static %}

{% block contenido %}


  <!-- Cuerpo -->
    <section id="blog">
      <h3>Informacion del Vehiculo</h3>
      <div class="contenedor">
        <article>
          <img src="{{Automobil.imagen.url}}" class="d-block w-100" alt="slide2">
          <h4>Patente:{{Automobil.Patente}}</h4>
          <h4>Año:{{Automobil.annio}}</h4>
          <h4>Modelo:{{Automobil.Modelo}}</h4>
          <h4>Descripcion:{{Automobil.Descripcion}}</h4>
          <h4>Categoria:{{Automobil.Categoria.nombre}}</h4>
      </article>
      </div>
    </section>
 
  <!-- Contactos -->
  {% endblock contenido %}

